@use '../base/media' as *;
@use '../base/mixins' as *;
@use '../base/var' as *;

.team {
    &__list {
        display: flex;
        flex-direction: column;
        gap: rem(24px);
        @include media('tablet_above') {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: rem(24px);
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: rem(12px);
        @include media('laptop_above') {
            gap: rem(40px);
        }
    }

    &__info {
        padding: rem(10px);
        @include media('laptop_above') {
            padding: rem(24px);
        }
    }

    &__descr {
        font: 400 #{rem(14px)} / 170% $ff;
        margin-bottom: rem(20px);
        color: $c_drk_hlf;
        @include media('tablet_above') {
            font-size: rem(16px);
        }
        @include media('laptop_above') {
            margin-bottom: rem(40px);
        }
    }

    &__detail {
        display: flex;
        flex-direction: column;
        gap: rem(8px);
        p {
            margin: 0;

            &:first-child {
                font: 700 #{rem(14px)} / 100% $ff;
                @include media('tablet_above') {
                    font-size: rem(16px);
                }
            }

            &:last-child {
                font: 400 #{rem(12px)} / 100% $ff;
            }
        }
    }

    .morph {
        width: 100%;
        max-width: rem(300px);
        height: auto;
        margin: 0 auto;

        @include media('tablet_above') {
            max-width: 100%;
        }
    }
}
